@page "/"

<PageTitle>FRIVIA</PageTitle>

<h1>O stránke</h1>
<br />
<p>Frivia je webová aplikácia vytvorená na <a href="https://www.fri.uniza.sk/">Fakulte riadenia a informatiky v Žiline.</a></p>
<p>
    Jedná sa o interaktívnu kvízovú hru založenú na skenovaní QR kódov, v ktorej si overíte Vaše vedomosti, a zároveň hráte o zaujímavé <b></b>.

    Hra je riešená tak, že sa náhodne rozmiestnia otázky na mieste konania súťaže, na ktorých nájdete názov súťaže, číslo otázky a príslušný QR kód.
    Po jeho naskenovaní Vás presmeruje na príslušnú otázku, na ktorú treba odpovedať.
    Cieľom hry je teda nájsť všetky otázky a odpovedať správne na čo najviac z nich. Čím viac správnych odpovedí, tým máte väčšiu šancu vyhrať.

    Svoj postup v súťaži môžete sledovať v záložke moje súťaže. Po odpovedaní na všetky otázky sa Vám zobrazí počet správnych odpovedí.

    Prajeme Vám veľa šťastia. :)

</p>

<h2>Skenovanie otázok pomocou QR kódov</h2>
<p>
    Na naskenovanie QR kódov sa môžete prepnúť na stránku QR kód, ktorá vám autoamticky otvorí fotoaparát na zariadení.
    Naskenovanie QR kódu slúži na otvorenie kvízu, alebo časti otázok kvízu.
</p>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id iaculis nisl, sit amet viverra massa. Pellentesque dolor velit, luctus nec sem ut, scelerisque varius mi. Sed ex eros, mattis et varius at, blandit vel eros. Praesent non arcu ac mi tincidunt mattis iaculis at felis. Nullam auctor nulla nec vestibulum efficitur. Donec vitae augue vitae ligula lacinia placerat in sed neque. Nulla luctus pulvinar interdum. Fusce elit ligula, tempus at semper ut, tincidunt quis ipsum.

    Vestibulum aliquam leo at leo varius dictum. Maecenas viverra volutpat eros, non pharetra turpis cursus vitae. Donec vel eleifend sapien. Nunc in lorem vitae diam placerat faucibus. Donec sed volutpat urna. Aenean sit amet aliquam ante, non mattis enim. Maecenas fringilla elit sit amet sodales pulvinar. Suspendisse potenti. Vivamus in ultrices diam. Donec eget tempus dolor. Integer eget fringilla neque, eu eleifend arcu. Suspendisse mauris mi, iaculis quis lorem id, varius hendrerit ante. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

    Suspendisse ut sodales est, eu malesuada quam. Maecenas et finibus diam. Nunc a efficitur lorem. Nam nec massa nisl. Aliquam aliquet lobortis justo, vel viverra massa pretium non. Nam faucibus at mauris at consequat. In porttitor rhoncus velit, pharetra laoreet orci viverra ac. Etiam nisi eros, imperdiet non imperdiet sit amet, fermentum non ipsum. Fusce id pulvinar risus.

    Etiam sed posuere dolor. Vestibulum varius lectus non nulla varius volutpat. Nulla facilisi. Sed id tincidunt quam. Sed luctus ante risus, sit amet iaculis eros hendrerit et. Nam tincidunt in libero id pulvinar. Vestibulum imperdiet neque vel eros hendrerit scelerisque sed quis est. Aenean non ex id lorem dictum fermentum eu ultrices massa. Nunc id venenatis mauris. Maecenas semper ligula eros, eget dignissim dui accumsan nec. Mauris vehicula turpis eu lorem malesuada consectetur. Proin accumsan a elit id interdum. Ut at ultrices felis, ut vehicula mauris. Integer imperdiet posuere elit ac vulputate.
</p>

@code {
    private bool isAdmin = false;
}
