@page "/"

<PageTitle>FRIVIA</PageTitle>

<h1>O stránke</h1>
<Divider />
<p>Frivia je webová aplikácia vytvorená na <a href="https://www.fri.uniza.sk/">Fakulte riadenia a informatiky v Žiline.</a></p>
<p>
    Jedná sa o interaktívnu kvízovú hru založenú na skenovaní QR kódov, v ktorej si overíte Vaše vedomosti, a zároveň hráte o zaujímavé <b></b>.
</p>
<p>
    Hra je riešená tak, že sa náhodne rozmiestnia otázky na mieste konania súťaže, na ktorých nájdete názov súťaže, číslo otázky a príslušný QR kód.
    Po jeho naskenovaní Vás presmeruje na príslušnú otázku, na ktorú treba odpovedať.
    Cieľom hry je teda nájsť všetky otázky a odpovedať správne na čo najviac z nich. Čím viac správnych odpovedí, tým máte väčšiu šancu vyhrať.
</p>
<p>
    Svoj postup v súťaži môžete sledovať v záložke moje súťaže. Po odpovedaní na všetky otázky sa Vám zobrazí počet správnych odpovedí.
</p>
<p>
    Prajeme Vám veľa šťastia. :)
</p>

<h2>Skenovanie otázok pomocou QR kódov</h2>
<Divider />
<p>
    Na naskenovanie QR kódov sa môžete prepnúť na stránku QR kód, ktorá vám autoamticky otvorí fotoaparát na zariadení.
</p>
<p>
    Naskenovanie QR kódu slúži na otvorenie kvízu, alebo časti otázok kvízu.
</p>
<p>
    QR kódy môžete skenovať viacerými spôsobmi.
</p>
<p>
    V záložke Moje súťaže môžete nájsť tlačidlo Skenovanie QR kódov, ktoré Vás vyzve na povolenie kamery. Stačí potom už len namieriť na QR kód a presmeruje Vás automaticky na danú otázku.
</p>
<p>
    Pokiaľ by ste chceli využiť iný spôsob skenovania QR kódov, tak zariadenia, ktoré majú aspoň Adroid 9 alebo iOS 11 majú skener zabudovaný v systéme. Stačí teda otvoriť kameru, namieriť na QR kód a vaše zariadenie ho automaticky rozpozná.
</p>
<p>
    V prípade, že máte staršiu verziu operačného systému, môžete si stiahnuť aplikáciu na skenovanie QR kódov z Google Play alebo App Store.
</p>

<img src="/FRI_V_S_sk_cb.png" width="200" height="150" />
<div class="footer-padding">

</div>


@code {
    
}
