body {
}

.mojekvizy-body {
    padding-right: 20rem;
}

.question-box {
    display: inline-flex;
    justify-content: space-between;
}
.question-order {
    display: inline-flex;
    padding-right: 3rem;
}
.paddng-between-answer {
    padding-right: 2rem;
}
.link-login {
    text-decoration:none;
}
.list-quiz-all {
    display: flex;
    padding-top: 3rem;
    padding-bottom: 5rem;
    margin-top: 2rem;
}
.list-quiz-active{
    display: flex;
    padding-bottom: 2rem;
    padding-top: 3rem;
}

.footer-padding {
    padding-bottom: 5rem;
}

