@page "/otazky"
<h3>Otazky</h3>

<Table>
    <TableHeader>
        <TableRow>
            <TableHeaderCell>#</TableHeaderCell>
            <TableHeaderCell>Otazka</TableHeaderCell>
            <TableHeaderCell>Owner</TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        <TableRow>
            <TableRowHeader>1</TableRowHeader>
            <TableRowCell>What fictional place would you most like to go to?</TableRowCell>
            <TableRowCell>@@Aurora Walton</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>2</TableRowHeader>
            <TableRowCell>Pancakes or waffles?</TableRowCell>
            <TableRowCell>@@Niamh Quinn</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>3</TableRowHeader>
            <TableRowCell>Who is one of your best friends, and what do you love about them?</TableRowCell>
            <TableRowCell>@@Niamh Quinn</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>4</TableRowHeader>
            <TableRowCell>What's the last book you gave up on and stopped reading?</TableRowCell>
            <TableRowCell>@@Alma Heath</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>5</TableRowHeader>
            <TableRowCell>What issue will you always speak your mind about?</TableRowCell>
            <TableRowCell>@@Haris Freeman</TableRowCell>
        </TableRow>
    </TableBody>
</Table>

@code {
    
}
