@page "/profil"
@using FRI_Quiz_Bakalarska_Praca.Data.Database
@using Microsoft.EntityFrameworkCore
@inject AuthenticationStateProvider AuthProvider
@inject IDbContextFactory<ApplicationDbContext> DbFactory

<PageTitle>Profil</PageTitle>

<AuthorizeView>
    <Authorized>

        <div class="form-floating mb-3">
            <label class="form-label">Email: @context.User.Identity.Name</label>
            
        </div>
        <div class="form-floating mb-3">
            <label class="form-label">Meno: </label>
            <input type="text" class="form-control" placeholder="Tu si môžete zmeniť meno" />
        </div>        
        <button type="submit" class="btn btn-primary" >Zmenit heslo</button>        
    </Authorized>
    <NotAuthorized>
    <div class="ms-1">Aktualne ste odhlaseny, ak chete sa prihlaste
        <a href="Areas/identity/Pages/Account/Login">tu</a>
    </div>
    </NotAuthorized>
</AuthorizeView>
@code {
    //TODO 2.0 Dorobit nastavenia
    private bool passwordChange;
    private string name = string.Empty;

    private string getMeno()
    {
        using var dbContext = DbFactory.CreateDbContext();
        return " ";
    }

}
