@page "/QRCode"

<PageTitle>QR kód </PageTitle>
 

<h1>Na tejto stránke si môžete naskenovať QR kód pre otvorenie kvízu</h1>

<button class="btn btn-primary" >Scan</button>

@code {
    //TODO 1.8 Napisat ucitelovi o kod
}
