@page "/QRCode"
@inject IJSRuntime JsRuntime

<PageTitle>QR kód </PageTitle>
    


<h1>Na tejto stránke si môžete naskenovať QR kód pre otvorenie kvízu</h1>
<video id="qr-scanner" style="width: 100%"></video>



@code {
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("frivia.startQRScanner");
        }
    }

    public async ValueTask DisposeAsync()
    {
        try
        {
            await JsRuntime.InvokeVoidAsync("frivia.stopQRScanner");
        }
        catch
        {
            
        }

    }
}
