@page "/QRCode"
@inject IJSRuntime JsRuntime

<PageTitle>QR kód </PageTitle>
    


<h1>Na tejto stránke si môžete naskenovať QR kód pre otvorenie kvízu</h1>
<video id="qr-scanner" style="width: 100%"></video>

<script>
    import QrScanner from "Data/qr-scanner.min.js"

</script>
<script>
    window.onvote.startQRScanner = (() => {
        QrScanner.WORKER_PATH = "/Data/qr-scanner-worker.min.js";
        if (window.onvote.qrScanner !== undefined) {
            window.onvote.qrScanner.stop();
        }
        window.onvote.qrScanner = new QrScanner(document.getElementById("qr-scanner"), result => {
            if (result.includes("/-/")) {
                document.location = result;
            }
        });
        window.onvote.qrScanner.start();
    });

    window.onvote.stopQRScanner = (() => {
        if (window.onvote.qrScanner !== undefined) {
            window.onvote.qrScanner.stop();
        }
    });
</script>

@code {
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("onvote.startQRScanner");
        }
    }

    public async ValueTask DisposeAsync()
    {
        try
        {
            await JsRuntime.InvokeVoidAsync("onvote.stopQRScanner");
        }
        catch
        {
            
        }

    }
}
