@page "/QRCode"

<PageTitle>QR kód </PageTitle>
 

<h1>Na tejto stránke si môžete naskenovať QR kód pre otvorenie kvízu</h1>

<button class="btn btn-primary" >Scan</button>

@code {
    //TODO 1.8 Instalovat ZXing.js library na scan qr codu, chatgpt ulozeny chat ako na to/navod z stackoverflow
}
