@page "/vyplnKviz"
@using FRI_Quiz_Bakalarska_Praca.Data
@using FRI_Quiz_Bakalarska_Praca.Data.Database
@using FRI_Quiz_Bakalarska_Praca.Data.Model
<div>
    <EditForm Model="@uQ">
    

    </EditForm>
</div>

@code {
    //TODO 2.7 Dorobit editform, zobrazenie prave danej otazky
    private User_Question uQ;
}
