@page "/vyplnKviz/{hash:guid?}"
@using FRI_Quiz_Bakalarska_Praca.Data
@using FRI_Quiz_Bakalarska_Praca.Data.Database
@using FRI_Quiz_Bakalarska_Praca.Data.Model
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<ApplicationDbContext> DbFactory
<div>
    <EditForm Model="@uQ">
    

    </EditForm>
</div>

@code {
    //TODO 2.7 Dorobit editform, zobrazenie prave danej otazky
    private Quiz quiz;
    private User_Question uQ;


    [Parameter]
    public string? Guid { get; set; }
    [CascadingParameter]
    public Task<AuthenticationState>? authenticationState { get; set; }

    /*protected override async Task OnInitializedAsync()
    {
        using var dbContext = await DbFactory.CreateDbContextAsync();
        if (Guid != null)
        {
            quiz = await dbContext.Quizzes.Include(q => q.Questions).ThenInclude(a => a.Answers).FirstOrDefaultAsync(q => q.Hash == Guid);
        }
        //TODO 4.0 Nefunguje - nullpointer error
        uQ.Question = quiz.Questions.Find(q => q.Hash == Guid);
    }*/
}
