body {

}

.nastaveniaCasu {
    display: flex;
    padding-bottom: 2rem;
}
.nastaveniaCasuText {
    align-items:center;
    padding-top: 0.5rem;
    padding-right: 1rem;
}

.casOd {
    display: inline-flex;
    flex-direction: row;
    width: 20%;
    padding-top: 0.5rem;
}

.casDo {
    display: inline-flex;
    flex-direction: row;
    width: 20%;
    padding-left: 1rem;
    padding-top: 0.5rem;
}
.datum {
    display: flex;
    flex-direction: row;
    grid-row: 1;
    padding-right: 1rem;
    padding-top: 0.5rem;
}

.nastaveniaKvizu {
    display: flex;
    grid-column: 1;
    grid-row: 1;
}

.pdright-2rem {
    padding-right: 2rem;
}
.odpovede-container {
    display: flex;
    flex-direction: column;
}

.odpoved {
    display:flex;
    
}

.form-text {
    flex-grow: 1;
    max-width: 70%;
    min-height: 40px;
}

.livekviz-button {
    margin: 0.2rem 0.5rem 0.2rem 0.5rem;
}

.odpoved-checkbox {
    margin-left: 1.5rem;
}

.kviz {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 2;
}
@media (max-width: 640.98px) {

    .nastaveniaCasu {
        flex-direction: column;
        padding-bottom: 1rem;
    }

    .nastaveniaCasuText {
        align-items: center;
    }

    .casOd {
        flex-direction: row;
        padding-top: 0.5rem;
    }

    .casDo {
        flex-direction: row;
        padding-top: 0.5rem;
    }

    .datum {
        flex-direction: column;
    }
    .users {
        display:none;
    }
}
@media (max-width: 1025px) {
    .odpoved-input {
        max-height: 200px;
        min-height: 4rem;
    }

    .nastaveniaCasu {
        flex-direction: row;
        padding-bottom: 2rem;
    }

    .nastaveniaCasuText {
        align-items: center;
        padding-top: 0.5rem;
        padding-right: 1rem;
    }

    .casOd {
        flex-direction:row;
    }

    .casDo {
        display: flex;
        flex-direction: row;
    }

    .datum {
        display: none;
        flex-direction: column;
    }

    .users {
        margin-left: 1rem;
        display: inline-flex;
        flex-direction: column;
    }


    .users-label {
        flex-direction: row-reverse;
        padding-right: 2rem;
    }

    .user-input {
        justify-content: end;
    }
    



}
@media (min-width: 641px) {

    .odpoved-input {
        max-height: 200px;
        min-height: 4rem;
    }

    .nastaveniaCasu {
        flex-direction: row;
        padding-bottom: 2rem;
    }

    .nastaveniaCasuText {
        align-items: center;
        padding-top: 0.5rem;
        padding-right: 1rem;
    }

    .casOd {
        flex-direction: row;
    }

    .casDo {
        display: flex;
        flex-direction: row;
    }

    .datum {
        display: flex;
        flex-direction: row;
    }

    .users {
        display: inline-flex;
        flex-direction: row;
    }


    .users-label {
        flex-direction: row-reverse;
        padding-right: 2rem;
    }

    .user-input {
        justify-content: end;
        width: 30%;
    }
}