@page "/zoznamkvizov"
<h3>Zoznam Kvizov</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Kviz</th>
            <th scope="col">Pocet Otazok</th>
            <th scope="col">Owner</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>What fictional place would you most like to go to?</td>
            <td class="pocet-otazok-tabulka">5</td>
            <td>@@Aurora Walton</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td><a href="/mojekvizy">VAII kviz prednaska 4</a></td>
            <td class="pocet-otazok-tabulka">3</td>
            <td>@@Niamh Quinn</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>What issue will you always speak your mind about?</td>
            <td class="pocet-otazok-tabulka">3</td>
            <td>@@Haris Freeman</td>
        </tr>
    </tbody>
</table>
@code {

}
