@using FRI_Quiz_Bakalarska_Praca.Data
@inject AuthenticationStateProvider AuthProvider
<AuthorizeView>
    <Authorized >
        @context.User.Identity?.Name!
        <AuthorizeView Roles="Admin" Context="innerContext">
            ste admin
        </AuthorizeView>
         <a href="/logout">Odhlásiť sa</a>
         
    </Authorized>
    <NotAuthorized>
        <div>
            <span class="oi oi-account-login"></span>
        </div>
        <a href="login">Prihlásiť sa</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    
}
