@using FRI_Quiz_Bakalarska_Praca.Data
@inject AuthenticationStateProvider AuthProvider
<AuthorizeView>
    <Authorized >
        Hello, @context.User.Identity?.Name!
        <AuthorizeView Roles="Admin" Context="innerContext">
            ste admin
        </AuthorizeView>
         <a href="/login" @onclick="(() => LogOut())">Log out</a>
        <!--<a href="MicrosoftIdentity/Account/SignOut">Log out</a>-->
         
    </Authorized>
    <NotAuthorized>
        <div>
            <span class="oi oi-account-login"></span>
        </div>
        <a href="Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    public void LogOut()
    {
        ((OwnAuthenticationProvider)AuthProvider).UserLoggedOut();
    }
}
