@inherits LayoutComponentBase

<PageTitle>FRI Quiz</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            
        </div>

        <div class="content px-4">
            @Body
        </div>
        
    </main>
    <div class="footer bottom-row">
        <div>
            <p class="bi bi-c-circle copyright"></p>
            <p class="copyright"> FRI QUIZ 2024</p>
        </div>
    </div>
</div>


@code {
    //TODO 2.4 Footer dokoncit
}


