@inherits LayoutComponentBase

<PageTitle>FRIVIA</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a class="bi bi-browser-chrome"></a>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            
        </div>

        <div class="content px-4">
            @Body
        </div>
    </main>
    <!---<div class="bottom-row footer">
        <div>
            <p class="bi bi-c-circle copyright"></p>
            <p class="copyright"> FRIVIA 2023</p>
            </div>
        </div>
        -->
    
</div>
