<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FRIVIA</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home Page
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="vytvorkviz" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> Vytvor kvizy
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mojekvizy" Match="NavLinkMatch.All">
                <span class="oi oi-browser" aria-hidden="true"></span> Moje kvizy
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="otazky" Match="NavLinkMatch.All">
                <span class="oi oi-question-mark" aria-hidden="true"></span> Otazky
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="zoznamkvizov" Match="NavLinkMatch.All">
                <span class="oi oi-list" aria-hidden="true"></span> Zoznam kvizov
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nastavenia" Match="NavLinkMatch.All">
                <span class="oi oi-cog" aria-hidden="true"></span> Nastavenia
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="profil" Match="NavLinkMatch.All">
                <span class="oi oi-person" aria-hidden="true"></span> Profil
            </NavLink>
        </div>
    </nav>
    
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
