@page "/QRCodeGen/{QuizGuid:guid}"
@layout PrintLayout
@using FRI_Quiz_Bakalarska_Praca.Data.Database
@using FRI_Quiz_Bakalarska_Praca.Data.Model
@using Microsoft.EntityFrameworkCore
@inject NavigationManager NavManager
@inject IDbContextFactory<ApplicationDbContext> DbFactory

@if (liveQuiz)
{
    <div>
       
        <Label>QR kód kvízu</Label>
        <Blazorise.QRCode.QRCode Value="@($"https://localhost:7166/vyplnKviz/{quiz.Hash}")"></Blazorise.QRCode.QRCode>
        
    </div>
} else
{   
    <Label>QR kódy otázok</Label>
    <div class="question-container">
        @foreach (var question in questions)
        {
            <div>
                <div>
                    <label class="question">Otázka @question.Order</label>
                </div>
                <Blazorise.QRCode.QRCode Value="@($"https://locahost:7166/vyplnKviz/{question.Hash}")" Class="d-flex justify-content-center"></Blazorise.QRCode.QRCode>
            </div>
        }
    </div>
}

@code {
    private List<Question> questions = new List<Question>();
    private Quiz quiz;
    private TypKvizu typ;
    private bool liveQuiz;
    [Parameter]
    public Guid QuizGuid { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var dbContext = await DbFactory.CreateDbContextAsync();
        quiz = await dbContext.Quizzes.Include(q => q.Questions).FirstAsync(q => q.Hash == QuizGuid);
        if (quiz.Type == TypKvizu.kviz)
        {
            liveQuiz = false;
            questions = quiz.Questions.ToList();
        } else
        {
            liveQuiz = true;
            return;
        }
    }

    private void ReturnToEditQuiz()
    {
        NavManager.NavigateTo($"/vytvorKviz/{quiz.Hash}");
    }
    private void RedirectToPrint()
    {
        NavManager.NavigateTo($"/printPage/{quiz.Hash}");
    }
}
<style>
    .question-container {
        display: flex;
        position: center;
        justify-content: center;
        justify-self:center;
        flex-direction: column;
    }
    .question {
        display: flex;
        position: center;
        justify-content: center;
        
    }
</style>
