@page "/QRCodeGen/{id:guid}"
@using FRI_Quiz_Bakalarska_Praca.Data.Database
@using FRI_Quiz_Bakalarska_Praca.Data.Model
@using Microsoft.EntityFrameworkCore
@inject NavigationManager NavManager
@inject IDbContextFactory<ApplicationDbContext> DbFactory
<h3>QRCode generator</h3>
<Label>QR kódy otázok</Label>
<div class="border-1 d-flex">
    @foreach (var question in questions)
    {   
        <Label Class="d-flex flex-column">Otázka @question.Order</Label>
        <Blazorise.QRCode.QRCode Value="@(nameof(question.Id))" Class="d-inline flex-column"></Blazorise.QRCode.QRCode>  
    }
</div>

<div>
    <Label>QR kód kvízu</Label>
    <Blazorise.QRCode.QRCode Value="@(nameof(quiz.Id))"></Blazorise.QRCode.QRCode>
</div>

<div class=""> 
    <button class="btn btn-primary" type="submit" onclick="@ReturnToEditQuiz">Späť na editáciu kvízu</button>
</div>




@code {
    private List<Question> questions = new List<Question>();
    private Quiz quiz;
    private TypKvizu typ;
    [Parameter]
    public Guid QuizGuid { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var dbContext = await DbFactory.CreateDbContextAsync();
        quiz = await dbContext.Quizzes.Include(q => q.Questions).FirstAsync(q => q.Hash == QuizGuid);
        if (quiz.Type == TypKvizu.kviz)
        {
            questions = quiz.Questions.ToList();
        } else
        {
            return;
        }
    }

    private void ReturnToEditQuiz()
    {
        NavManager.NavigateTo($"/vytvorKviz/{quiz.Hash}");
    }
}
