body {

}

.nastaveniaCasu {
    display: flex;
    padding-bottom: 2rem;
}
.max-answers-color {
    color: red;
}

.nastaveniaCasuText {
    align-items: center;
    width: 20rem;
    padding-top: 0.5rem;
    justify-content: space-between;
}
.left_side_quiz {
    display: inline-flex;
    flex-direction: column;
    flex-grow: 2;
    left: 0;
    top: 0;
    max-width: 60%;
}
.rigt_side_quiz {
    display: inline-flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    flex-grow: 1;
    justify-content: right;
    scroll-padding-top: 0.5rem;
    padding-right: 0.5rem;
    min-width: 30%;
    max-width: 50%;
}

.nazov-label {
    padding-right: 2rem;
}

.casOd {
    display: inline-flex;
    flex-direction: row;
    width: 20%;
    padding-top: 0.5rem;
}

.casDo {
    display: inline-flex;
    flex-direction: row;
    width: 30%;
    padding-left: 5rem;
    padding-top: 0.5rem;
}
.datum {
    display: flex;
    flex-direction: row;
    padding-right: 1rem;
    padding-top: 0.5rem;
}

.nastaveniaKvizu {
    display: flex;
    grid-column: 1;
    grid-row: 1;
}

.pdright-2rem {
    padding-right: 2rem;
}
.odpovede-container {
    display: flex;
    flex-direction: column;
}

.odpoved-label {
    display: flex;
}

.odpoved {
    display:flex;
}

.form-text {
    flex-grow: 1;
    max-width: 70%;
    min-height: 40px;
}

.livekviz-button {
    margin: 0.2rem 0.5rem 0.2rem 0.5rem;
}

.odpoved-checkbox {
    display: inline-flex;
    margin-left: 1.5rem;
    justify-content: space-between;
}

.kviz {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 2;
}

.buttons_group_quiz {
    display: flex;
    margin-top: 1rem;
    padding-bottom:5rem;
    width: 30%;
    justify-content:space-between;
}
.table-width {
    min-width: 135%;
    max-width: 40%;
}

@media (max-width: 640.98px) {
    .nastaveniaCasu {
        flex-direction: column;
        padding-bottom: 1rem;
    }

    .nastaveniaCasuText {
        align-items: center;
        width: 5rem;
    }

    .casOd {
        flex-direction: row;
        padding-top: 0.5rem;
    }

    .casDo {
        flex-direction: row;
        padding-top: 0.5rem;
    }

    .datum {
        flex-direction: column;
    }
    .users {
        display:none;
    }
}
@media (max-width: 1025px) {
    .odpoved-input {
        max-height: 200px;
        min-height: 4rem;
    }

    .nastaveniaCasu {
        flex-direction: row;
        padding-bottom: 2rem;
    }

    .nastaveniaCasuText {
        align-items: center;
        width: 10rem;
        padding-top: 0.5rem;
        padding-right: 1rem;
    }

    .casOd {
        flex-direction:row;
    }

    .casDo {
        display: flex;
        flex-direction: row;
    }

    .datum {
        flex-direction: column;
    }

    .users {
        display: inline-flex;
        flex-direction: column;
    }


    .users-label {
        flex-direction: row-reverse;
        padding-right: 2rem;
        padding-top: 0.5rem;
    }

    .user-input {
        justify-content: end;
        width: 20rem;
    }
    
}
@media (min-width: 641px) {

    .odpoved-input {
        max-height: 200px;
        min-height: 4rem;
    }

    .nastaveniaCasu {
        flex-direction: row;
        padding-bottom: 2rem;
    }

    .nastaveniaCasuText {
        align-items: center;
        width: 20rem;
        padding-top: 0.5rem;
        padding-right: 1rem;
    }

    .casOd {
        flex-direction: row;
    }

    .casDo {
        display: flex;
        flex-direction: row;
    }

    .datum {
        display: flex;
        flex-direction: row;
    }

    .users {
        display: flex;
        flex-direction: column;
    }


    .users-label {
        flex-direction: row-reverse;
        padding-right: 2rem;
        padding-top: 0.5rem;
    }

    .user-input {
        justify-content: end;
        width: 30%;
    }
}