body {
}
tr:hover {
    font: bold;
    background-color: lightskyblue;
}

.pocet-otazok-tabulka:hover{
    color:red;

}

a {
    color: black;
    text-decoration: wavy;
}
.down-padding {
    display:flex;
    padding-bottom: 5rem;
}
